.DS_Store
.venv/
__pycache__/
.pycache/
*.pyc
data/processed/*.csv
outputs/figures/*

UCMR-5/
UCMR---ByState/
UCMR-5.zip
UCMR---ByState.zip

UCMR-5/
UCMR---ByState/
UCMR-5.zip
UCMR---ByState.zip

UCMR-5/
UCMR---ByState/
UCMR-5.zip
UCMR---ByState.zip

UCMR-5/
UCMR---ByState/
UCMR-5.zip
UCMR---ByState.zip
